@charset "utf-8";
/*css document*/
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,fieldset,figure,hr,img,input{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
}
html,body{
	height:100%;
}
body{
	font-family: "微软雅黑",Arial;
	display:flex;
	flex-direction: column;
	justify-content:space-between; 
}
ol,ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	display: block;
}

header{
	width:100%;
	display:flex;
	align-items:center;
	height:0.4rem;
	a{
		flex:1;
		font-size:0.16rem;
		color:#2f2f31;
		text-align:center;
	}

	.edit{
		text-align:right;
		color:#a3a3a5;
		span{
			text-decoration:underline;
		}
		.icon-msg0{
			margin-left:0.15rem;
			margin-right:0.12rem;
			text-decoration:none;
		}
	}	
}


section{
	flex:1;
	overflow-y:auto;
	width:100%;
	.blank{
		height:0.1rem;
		border-top:1px solid #f1f0f4;
		border-bottom:1px solid #f1f0f4;
		background:#f0f1f3;
	}
	.productList{
		li{
			height:1.67rem;
			.store{
				padding:0 0.05rem 0 0.12rem;
				font-size:0.13rem;
				height:0.45rem;
				display:flex;
				align-items:center;
				background:#fafbf7;
				.icon-guanzhudianpu{
					margin-left:0.13rem;
					margin-right:0.06rem;
				}
			}
			.detail{
				padding:0 0.05rem 0 0.12rem;
				display:flex;
				align-items:center;
				.left{
					display:flex;
					align-items:center;
					input{
						display:block;
					}
					.picture{
						width:0.92rem;
						height:0.92rem;
						border:1px solid #f0f0f0;
						border-radius:5px;
						margin:0.1rem;
						img{
							width:100%;
							height:100%;
						}
					}
				}
				.right{
					flex:1;
					.top{
						font-size:0.12rem;
						color:#7d7d7d;
						.content{
							height:0.35rem;
							font-weight:bold;
							line-height:0.16rem;
							overflow:hidden;
							width:1.7rem;
						}
						.describe{
							width:1.4rem;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
					}
					.bottom{
						padding-top:0.2rem;
						font-size:0.12rem;
						display:flex;
						align-items:center;
						justify-content:space-between;
						.price{
							color:#cc5f6f;
						}
						.quality{
							width:0.85rem;
							height:0.23rem;
							border:1px solid #ededed;
							border-radius:5px;
							div{
								float:left;
								line-height:0.23rem;
								color:#d5d5d5;
							}
							.reduce{
								width:0.25rem;
								text-align:center;
							}
							.number{
								width:0.35rem;
								text-align:center;
								border-right:1px solid #ededed;
								border-left:1px solid #ededed;
								box-sizing:border-box;
							}
							.plus{
								width:0.25rem;
								text-align:center;
							}
						}
					}
				}
			}
		}
	}
	// 为你推荐
	.goodsList{
		.recommend{
			height:0.4rem;
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:0.16rem;
			background:#f1f2f4;
			color:#606163;
		}
		.goods{
			display:flex;
			flex-wrap:wrap;
			background:#f2f1f9;
			a{
				background:#fff;
				margin-bottom:6px;
				display:block;
				width:49%;
				height:2.62rem;
				.goodsPic{
					height:1.85rem;
					// display:flex;
					// flex:1;
					img{
						width:100%;
						height:100%;
					}
				}
				.goods_bottom{
					padding:0 0.05rem;
					box-sizing:border-box;
					.intro{
						display:block;
						font-size:0.12rem;
						color:#454547;
						height:0.42rem;
						line-height:0.2rem;
						overflow:hidden;
						// margin-bottom:0.1rem;
					}
					.details{
						display:flex;
						justify-content:space-between;
						align-items:center;
						margin-bottom:0.05rem;
						.price{
						font-size:12px;
						color:#e06d6b;
						display:block;
						}
						.icon-cart{
							display:block;
							width:0.25rem;
							height:0.25rem;
							border:1px solid #f5f5f5;
							border-radius:5px;
							text-align:center;
							line-height:0.25rem;
							color:#919096;
						}
					}
				}
			}
			a:nth-child(2n){
				margin-left:1%;
			}
			a:nth-child(2n+1){
				margin-right:1%;
			}
		}
	}
}
footer{
	// height:0.6rem;
	// 结算
	.calculate{
		font-size:0.16rem;
		height:0.4rem;
		display:flex;
		align-items:center;
		justify-content:space-between;
		p{
			padding-left:0.1rem;
			display:flex;
			align-items:center;
			input{
			display:block;
			}
			.allChoose{
				font-size:0.14rem;
				padding-right:0.2rem;
			}
		}
		.cal{
			display:block;
			width:0.8rem;
			height:0.4rem;
			background:#de443c;
			line-height:0.4rem;
			color:#fff;
			text-align:center;
		}
	}
}